body {
  background: #eee;
  font-family: sans-serif;
  display: block;
  font-size: 14px;
}

.card {
  width: 400px;
  background: #fff;
  margin: auto;
  padding: 16px 8px;
}

.title {
  background: #e3f4ff;
  margin-bottom: 8px;
  font-size: 16px;
  padding: 8px;
}

.content {
  background: #e3f4ff;
}

.button-container {
  text-align: center;
  background: #e3f4ff;
  padding: 8px;
  margin-top: 8px;

}

button {
  display: block;
  margin: 0 auto;
  background: white;
  padding: 8px 24px;
}